@charset "UTF-8";



//FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
//font-family: 'Open Sans', sans-serif;


//BREAKPOINTS
$BP_general: 1170px;
$BP_smallsize: 900px;
$BP_smallestsize:560px;

//COLORS
$color_general_white:#ffffff;
$color_general_blue:#0f89f4;

$color_button_blue:#9addfc;
$color_button_text_blue:#446b8c;

$color_link_lightblue: #d2e7fb;
$color_link_darkblue:#3974ca;

$color_text_blue:#3974ca;
$color_text_lightblue:#d2e7fb;
$color_text_darkblue:#315479;
$color_text_greyblue:#667382;
$color_text_grey:#323232;


$color_slider_arrow:#0e88f3;



